# Python
.venv/
__pycache__/
*.pyc
.DS_Store

# Generated meshes/outputs
02_mesh/*.mesh
*.vtk
04_runs/
sanity_check/
**/*case*/
05_results/01_verification/
05_results/02_part_I_static_ranking/01_oat_sweeps/
05_results/02_part_I_static_ranking/02_lhs_dataset/
domain.vtk
